{% extends "base.html" %}
{% block content %}
  <div class="about container">
    <h1 id="about-head">About ME :</h1>
    <div class="para container">
      <p>Hi, I’m Omar. I’m a self-taught web developer and designer from Giza, Egypt. I currently work as web developer freelancer creating websites with Django as Backend and React as Frontend</p>
      <p>I started this website as a Portfolio to show the projects that I have worked on and to show my skills and creations also, the site contains a blog to write articles about things of my interest and share my knowledge of web developing technologies.</p>
      <p>I was born on 23rd jan 1992 in govrnate of the 3 great pyramids Giza and my first encounter with computers was in 1996, It was MSX personal computer which I still have it and I had my first PC at 1999 with Windows 98.</p>
      <p>My father bought internet modem in 2000 and I discovered the new world of technologies and I loved everything about it.</p>
      <p>And I grew up and entered Faculty of science Ain Shams Univeristy and studied Zoology & Chemistry and graduated in 2016 and I worked as Chemist for while and I was not happy with my job so, I decided to make a carrer shift and I began to study python by myself from books and tutorials and then I knew it that is what am I looking for.</p>
      <p>I began gain to build my stack so, I now Know HTML5, CSS, Python, Javascript, React.js, Jquery, Bootstrap, PostgreSQL and I am hungry for more</p>
    </div>

    <div class="contact container">
      <h1>Contact :</h1>
      <div class="container">
        <h5><strong>Email:</strong> omar.moneer92@gmail.com </h5>
        <h5><strong>LinkedIn:</strong> <a id="my-title" href="https://www.linkedin.com/in/omar-moneer-186a7a177/">https://www.linkedin.com/in/omar-moneer</a> </h5>
      </div>

    </div>
  </div>
{% endblock %}
