<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montaga|Montserrat|Fondamento|Marck+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/mas.css" %}">

    <title>O.M.A.I.K.</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" id="my-brand" href="{% url 'home' %}">O.M.A.I.K.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'portfolio:proj_list' %}">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:article_list' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About&Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="mycontent">
      {% block content %}

      {% endblock %}
    </div>


    <footer class=" footer bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; O.M.A.I.K. 2018</p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
</html>
